astroid==2.4.2
autopep8==1.5
certifi==2019.9.11
chardet==3.0.4
cycler==0.10.0
idna==2.8
isort==5.4.2
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
matplotlib==3.1.2
mccabe==0.6.1
numpy==1.17.4
pycodestyle==2.5.0
pylint==2.6.0
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.13.0
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.8
wrapt==1.12.1
