name: Run AI and Notify

# on:
#   schedule:
#   - cron: '30 7 30 * *'

on:
  push:
    branches:
      - master

jobs:
  fetchDataAndRunAI:
    
    env:
      TEAM_ID: 4914864
      REMOTE_BRANCH: master
      GMAIL_SENDER: ${{ secrets.GMAIL_SENDER }}
      GMAIL_RECEIVER: ${{ secrets.GMAIL_RECEIVER }}
      GMAIL_PASS: ${{ secrets.GMAIL_PASS }}

    runs-on: ubuntu-latest
    
    steps:
    
    - name: Checkout Repository
      uses: actions/checkout@v1
    
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.7.5'
    
    - name: Install PIP packages
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Fetch and organize data
      run: |
        cd src/scraping
        python global_scraper.py
        python teams_scraper.py ${TEAM_ID}
        cd ..
        rm -rf raw_data/2019-20/players
        mv scraping/data/2019-20/players raw_data/2019-20/ -f
        mv scraping/data/2019-20/players_raw.csv raw_data/2019-20/ -f
        mv scraping/data/2019-20/fixtures.csv raw_data/ -f
        mv scraping/data/team_data/my_team.json raw_data/ -f
        mv scraping/data/gameweeks.json raw_data/ -f
        rm -rf scraping/data
        python data_cleaner.py
        python data_maker.py
    
    - name: Run the AI
      run: |
        cd src
        python ai.py
        gameweek_id=`python notify.py`
        
    - name: Configure Git
      run: |
        git config --global user.email ${GITHUB_ACTOR}@gmail.com
        git config --global user.name ${GITHUB_ACTOR}
    
    - name: Commit and Push
      run: |
        # git add .github/workflow/main.yml
        # git commit -m "gh-actions updated workflow"
        git add .
        git commit -m "gh-actions added gw${gameweek_id} data"
        git push --force https://${GITHUB_ACTOR}:${{secrets.GITHUB_TOKEN}}@github.com/${GITHUB_REPOSITORY}.git HEAD:${REMOTE_BRANCH}
